/* // const cssPic = { 
    //     display:"flex",
    //    width: "280px",
    //    // hight:"380px",
    //    float: "left",
    //    margin: "15px",
    //    alignItems: "block",
    //    /* border: 3px darkgrey solid;
    //    border-radius: 3px; */
    /* //    padding: "10px",
    //    display: "inline"} */
    
   
       /* marginBottom: "2px",
        padding: "16px 32px",
       margin: "4px 2px",
       opacity:"0.6",
       transition: "0.3s",
       display: "inline-block",
         cursor: "pointer",
        display: "inline-block"
}
     */ 